<div class="container mt-5">
	<h4>Koment yaz</h4>
	<div class="comment-bottom mt-3">
		<form method="post">
			<input class="form-control mt-2" type="text" name="Name" placeholder="Ad" required>
			<input class="form-control mt-2" type="email" name="Email" placeholder="Email" required>
			<input class="form-control mt-2" type="text" name="Subject" placeholder="Mövzu" required>
			<textarea class="form-control mt-2" name="Message" placeholder="Koment..." required=""></textarea>
			<input type="submit" class="btn btn-primary mt-2" id="share" value="Paylaş">
		</form>
	</div>
</div>