<div class="header_top" id="home">
	<nav class="navbar navbar-expand-lg navbar-light bg-light p-1">
		<div class="container-fluid">
			<button class="navbar-toggler"
					type="button"
					data-mdb-toggle="collapse"
					data-mdb-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02"
					aria-expanded="false"
					aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="~/blog/index.html">
							Ev
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="~/blog/about.html">Bloqlar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="~/blog/about.html">Haqqımızda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="~/blog/contact.html">Əlaqə</a>
					</li>
				</ul>
				<form method="post" class="d-flex input-group w-auto header-search">
					<input class="form-control text-black" type="search" placeholder="Axtar..." name="Search" required="">
					<button class="btn btn-success" type="submit" style="background-color:#01cd74">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</nav>
</div>
