<!DOCTYPE html>
<html lang="en">

<head>
	<title>@ViewData["Title"]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<title>@ViewData["Title"]</title>
	<link rel="icon" type="image/x-icon" href="~/siteicon.ico" />
	<link rel="stylesheet" href="~/lib/mdbootstrap/css/mdb.min.css" />
	<link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css">
	<link href="~/blog/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row justify-content-between">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="/blog">
						Bloqum
					</a>
				</div>
				@await Html.PartialAsync("~/Views/Shared/PartialViews/TopNavBarPartialView.cshtml")
				<div class="col-md-4 log-icons text-end">

					<ul class="social_list1 mt-3">

						<li>
							<a href="https://www.instagram.com/the.rzarzayev" target="_blank" class="instagram mx-2">
								<i class="fab fa-instagram"></i>

							</a>
						</li>
						<li>
							<a href="https://twitter.com/therzarzayev" target="_blank" class="twitter">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
						<li>
							<a href="https://github.com/therzarzayev" target="_blank" class="github mx-2">
								<i class="fab fa-github"></i>
							</a>
						</li>
						<li>
							<a href="" target="_blank" class="youtube">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		@await Html.PartialAsync("~/Views/Shared/PartialViews/NavBarPartialView.cshtml")

	</header>

	<div class="container">
		@RenderBody()
	</div>
	<footer>
		<vc:footer></vc:footer>
	</footer>
	<script src="~/lib/fontawesome/js/all.min.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.js"></script>
	<script language="JavaScript" type="text/javascript">
		$(document).ready(function () {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<a href="#" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>