<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0" id="authico">
	<span>Xoş gəldiniz!</span>
	<span class="mx-lg-4 mx-md-2  mx-1">
		<a href="/auth/login" class="hoveruse">
			<i class="fa-solid fa-lock"></i> Giriş
		</a>
	</span>
	<span>
		<a href="/auth/register" class="hoveruse">
			<i class="fa-solid fa-user"></i> Qeydiyyat
		</a>
	</span>
</div>