@using System.Globalization;
@model IEnumerable<Notification>
<div class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
		<i class="fa fa-bell me-lg-2">
			<span class="badge rounded-pill badge-notification bg-danger">1</span>
		</i>
		<span class="d-none d-lg-inline-flex">Bildirişlər</span>
	</a>
	<div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
		@foreach (var item in Model)
		{
			var date = (DateTime)item.Date!;
			string oDate;
			TimeSpan timeSince = DateTime.Now - date;
			int secondsSince = (int)timeSince.TotalSeconds;

			if (secondsSince >= 86400)
			{
				oDate = date.ToString("d MMM, yyyy", new CultureInfo("az-AZ"));
			}
			else
			{
				int hoursSince = secondsSince / 3600;

				if (hoursSince != 0)
				{
					oDate = $"{hoursSince} saat əvvəl";
				}
				else
				{
					int minutesSince = secondsSince / 60;

					if (minutesSince != 0)
					{
						oDate = $"{minutesSince} dəqiqə əvvəl";
					}
					else
					{
						oDate = "İndicə";
					}
				}
			}
			<a href="#" class="dropdown-item">
				<h6 class="fw-normal mb-0">@item.Details</h6>
				<small>@oDate</small>
			</a>
			<hr class="dropdown-divider">
		}
		<a href="/notifications" class="dropdown-item text-center">Bütün bildirişləri gör</a>	
	</div>
</div>
