<div class="sidebar pe-4 pb-3">
	<nav class="navbar bg-secondary navbar-dark">
		<a href="/writer/dashboard" class="navbar-brand mx-4 mb-3">
			<h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Müəllif Panel</h3>
		</a>
		<div class="d-flex align-items-center ms-4 mb-4">
			<div class="position-relative">
				<img class="rounded-circle" src="~/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
				<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
			</div>
			<div class="ms-3">
				<h6 class="mb-0">Rza Rzayev</h6>
				<span>Admin</span>
			</div>
		</div>
		<div class="navbar-nav w-100">
			<a href="/writer/dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>İdarəetmə paneli</a>
			<a href="/blog/my-blogs" class="nav-item nav-link"><i class="fa-brands fa-blogger-b me-2"></i>Bloqlarım</a>
			<a href="/blog/new-blog" class="nav-item nav-link"><i class="fa-solid fa-pen me-2"></i>Bloq yaz</a>
			<a href="/writer/messages" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Mesajlar</a>
			<a href="/writer/notifications" class="nav-item nav-link"><i class="fa fa-bell me-2"></i>Bildirişlər</a>
			<a href="/" class="nav-item nav-link"><i class="fa-solid fa-arrow-up-right-from-square me-2"></i>Sayta qayıt</a>
			<a href="/writer/settings" class="nav-item nav-link"><i class="fa-solid fa-sliders me-2"></i>Ayarlar</a>
		</div>
	</nav>
</div>