@using System.Globalization;
@{
	ViewData["Title"] = "Bloq";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}
@model Blog
<div class="container">
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a asp-action="blogdetail" asp-controller="blog">
									<img src="/blog/images/b1.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> @(((DateTime)Model.CreatedDate).ToString("d MMM, yyyy", new CultureInfo("az-AZ")))
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 201 Likes
										</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 15 Comments
										</a>
									</li>

								</ul>
							</div>
						</div>

						<h3>
							@Model.Title
						</h3>
						<p>
							@Model.Content
						</p>
					</div>
					<div class="comment-top">
						<vc:comment-list blog-id="@Model.Id"></vc:comment-list>
					</div>
					<div class="comment-top">
						<vc:add-comment></vc:add-comment>
					</div>
				</div>

				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">
						<div class="tech-btm">
							<img src="~/blog/images/banner1.jpg" class="img-fluid" alt="">
						</div>
						<div class="tech-btm">
							<h4>Bülletenimizə abunə olun</h4>
							@await Html.PartialAsync("~/Views/Shared/PartialViews/NewsletterPartial.cshtml")
						</div>
						<vc:category-list></vc:category-list>
						@await Component.InvokeAsync("LastBlog",Model.WriterId)
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
</div>
@section Scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			function validateEmail(email) {
				var regex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
				return regex.test(String(email).toLowerCase());
			}
			$("#subscribe").click(function (e) {
				e.preventDefault();
				var mail = document.getElementById("Email").value;
				if (validateEmail(mail)) {
					$.ajax({
						url: "/subscribe",
						type: "POST",
						data: { mail: mail },
						success: function (result) {
							Swal.fire(
								'Uğurlu!',
								'Siz bu bülletenə abonə oldunuz!',
								'success'
							);
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'Nəsə səhv getdi!',
							});
						}
					});
				}
			});
		});
	</script>
}
